%padding-home {
  padding-left: 4rem;
  padding-right: 4rem;

  @include media("<=phone") {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

.sop{
  transform-origin: left;
 
}

.home {
  padding: 2.4rem 0;
  visibility: hidden;

  &__main__nav {
    @extend %padding-home;
    margin-bottom: 6.4rem;
    display: flex;
    justify-content: space-between;
    @extend %description-12;
    line-height: 1.4;
    padding-top: 3rem;

    @include media("<=phone") {
      padding-top: 0;
    }

    .hide-mobile {
      @include media("<=phone") {
        display: none;
      }
    }

    .hide-desktop {
      @include media(">phone") {
        display: none;
      }
    }

    .nav__button {
      flex-shrink: 0;
      flex-grow: 0;
      text-align: center;
      border: none;
      height: 6vh;
      border-radius: 2em;
      text-transform: uppercase;
      width: 45%;
      font-size: 00.90em;
      background-color: #e3e3e300;
    border: 1px solid #fff;
    outline: none;
    color: #d1d1d1;

      @include media("<=phone") {
        line-height: 2.5;
        height: 6vh;
        width: 80%;
      }

      &::after {
        display: none;
      }
    }

    &__left,
    &__right {
      text-transform: uppercase;
      justify-content: space-between;

      @include media(">phone") {
        display: flex;
      }
    }

    &__left {
      max-width: 49rem;
      width: 100%;
      margin-right: 5rem;

      @include media("<=phone") {
        margin-right: 2rem;
        max-width: unset;
      }
    }

    &__right {
      max-width: 385px;
      width: 100%;

      @include media("<=phone") {
        max-width: 175px;
        width: 100%;
        margin-left: auto;

        br {
          display: none;
        }
      }
    }

    .nav {

      &__right__first,
      &__availability__status {
        color: $col-boulder;

        @include media("<=phone") {
          margin-bottom: 2.4rem;

          br {
            display: none;
          }
        }
      }
    }
  }

  &__hero {
    margin-bottom: 9.6rem;
    @extend %padding-home;

    .hero {
      &__title {
        line-height: 0.9;
        color: $col-gray;

        h1 {
          &.desktop {
            @include media("<=phone") {
              display: none;
            }
          }
        }

        .mobile {
          .intro {
            margin: 0;

            @media only screen and (min-width: 1020px) {
              margin: auto;
            }

            h1 {
              font-size: 3.5em;
              letter-spacing: -5px;
              font-weight: 900;
              font-family: $secondary-font;

              @media only screen and (min-width: 300px) {
                font-size: 3.1em;
              }

              @media only screen and (min-width: 350px) {
                font-size: 2.8em;
              }

              @media only screen and (min-width: 370px) {
                font-size: 4.3em;
              }

              @media only screen and (min-width: 385px) {
                font-size: 4.5em;
              }

              @media only screen and (min-width: 400px) {
                font-size: 4.8em;
              }

              @media only screen and (min-width: 1020px) {
                font-size: 8em;
              }

              @media only screen and (min-width: 1200px) {
                font-size: 8em;
              }

              .hero-content-line {

                @include media("<=phone") {
                  margin: 0 3.5%;
                  overflow: hidden;
                  position: relative;
                  display: flex;
                  height: 8vh;
                }

                @include media("<=smallPhone") {
                  margin: 0 3.5%;
                  overflow: hidden;
                  position: relative;
                  display: flex;
                  height: 8.6vh;
                }

                .E {
                  font-size: 3.9em;
                  width: 13.5%;
                  left: -3.5%;
                  height: 35vh;
                  display: flex;
                  margin-right: 20%;
                  position: relative;
                  margin-bottom: 5%;
                  margin-top: 2.5%;
                  font-family: "Open Sauce";

                  @media only screen and (min-width: 1020px) {
                    left: -0%;
                    font-size: 2em;
                    height: auto;
                    margin-bottom: 28%;
                    margin-top: -15%;
                    margin-right: 6%;

                  }
                }

                &:nth-child(4) {
                  height: auto;
                }

              }
            }

            letter-spacing: -0.05em;

            @include media(">phone") {
              display: none;
            }
          }
        }


        .hero__hover {
          transition: color 0.2s;

          @media (any-pointer: fine) {
            &:hover {
              color: $col-gray;
            }
          }
        }

        &__left {
          display: inline-block;
          @extend %title-328;
          letter-spacing: -0.04em;
          position: relative;
          left: .2%;

          @include media("<=smallPhone") {}
        }

        &__right {
          display: inline-block;
          @extend %title-328;
          letter-spacing: -0.04em;
          position: relative;
          left: 15%;
          bottom: 0;

          @include media("<=phone") {
            left: 0;
          }
        }

        &__dash {
          display: inline-block;
          @extend %title-328;
          letter-spacing: -0.705em;
        }

        &__dash {
          transform: scaleX(1.05);
          will-change: transform;

          &.desktop {
            @include media("<=tablet") {
              display: none;
            }
          }

          &.tablet {
            @include media(">tablet") {
              display: none;
            }
          }
        }


        &__top {
          display: flex;
          justify-content: space-between;
          padding-right: 3rem;
        }

        &__top {
          width: 89%;

          @media only screen and (min-width:1025px) {
            width: 80%;
          }
        }

        &__bottom {
          width: 100%;

          @media only screen and (min-width:1025px) {
            width: 90%;
          }

          &.overflow {
            @media only screen and (min-width:300px) {
              bottom: 0;
              position: relative;
            }

            @media only screen and (min-width:400px) {
              bottom: -55px;
            }

            @media only screen and (min-width:1025px) {
              display: inline-flex;
              width: 100%;
              bottom: auto;
              overflow: hidden;
            }


          }
        }

        &__bottom {
          justify-content: space-between;
          z-index: 2;

          @media only screen and (min-width:1025px) {
            justify-content: space-between;
            margin: 2.5%;
          }

          @include media(">tablet") {
            display: block;
          }
        }

        .bottom__left {
          @extend %title-328;
          letter-spacing: -0.05em;
          flex-shrink: 0;
          height: 8.5vh;

          @media only screen and (min-width:1025px) {
            height: 22.5vh;
          }
        }

        .bottom__left-mobile {

          letter-spacing: -0.05em;
          flex-shrink: 0;
          height: 8.5vh;
          font-family: $secondary-font ;

          @media only screen and (min-width: 350px) {
            font-size: 5rem;
            height: 8.5vh;
          }

          @media only screen and (min-width:375px) {
            font-size: 5rem;
            height: 9.3vh;
          }

          @media only screen and (min-width:390px) {
            font-size: 7rem;
          }


        }

        .bottom__right-mobile {
          position: relative;
          z-index: 1;
          max-width: 32.5rem;
          width: 100%;
          padding: 2rem 0 5rem;
          display: none;
          flex-direction: column;
          font-family: $secondary-font ;

          @include media("<=phone") {
            max-width: 235px;
            margin-left: auto;
          }

          @include media("<=smallPhone") {
            max-width: 205px;
            margin-left: auto;
          }


        }

        .bottom__right {
          @extend %description-16;
          position: relative;
          z-index: 1;
          max-width: 32.5rem;
          width: 100%;
          padding: 2rem 0 5rem;
          left: 72%;
          bottom: 18%;
          display: flex;
          flex-direction: column;

          @include media("<=tablet") {
            max-width: 100%;
            padding-bottom: 0;
            height: 20vh;
            left: 0;
          }

          @include media("<=phone") {
            max-width: 100%;
            left: 0;
            bottom: -3em;
            margin-bottom: 55%;
            height: 46vh;
            margin-left: auto;
            flex-direction: column-reverse;
            display: flex;
            justify-content: space-between;
          }

          @include media("<=smallPhone") {
            max-width: 100%;
            left: 0;
            height: 50vh;
            margin-left: auto;
            flex-direction: column-reverse;
            display: flex;
            justify-content: space-between;
          }
        }
      }

      &__paragraph {
        color: $col-gray;
        font-size: 0.95em;
        font-family: $primary-font-regular;

        @include media("<=tablet") {
          font-size: 0.7em;
          margin-top: 2.5em;

        }

        @include media("<=phone") {
          font-size: 0.95em;
        }

        @include media("<=smallPhone") {
          font-size: 0.90em;
        }

        span {
          text-transform: uppercase;
        }

        .first-word {
          @extend %description-12;
          color: $col-boulder;
        }
      }

      &__scroll {
        margin-top: auto;
        color: $col-boulder;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media("<=tablet") {
          display: flex;
          margin-top: 3em;
        }
        @include media("<=smallPhone") {
          display: flex;
          margin-top: 1em;
        }
      }

      &__p {
        text-transform: uppercase;
        display: block;
        opacity: 0;

        @include media("<=tablet") {
          display: block;
          opacity: 1;
          font-size: 00.85em;
          font-weight: 700;
          letter-spacing: 0px;
          font-family: $primary-font-medium;
        }

        &::after {
          content: "";
          width: 70%;
          background-color: #fff;
          height: 0.1vh;
          display: block;
        }
      }
    }


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline_container{
  position: absolute;
  left: 0%;
  width: 100%;
  font-family: $primary-font-medium;
.timeline ul li {
  height: 30vh;
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  padding-top: 50px;
  bottom: 0;
  background: transparent;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  line-height: 1.35;
  color: #777777;
  h2{
      font-size: 2.4em; 
  }
  p{
      text-transform: uppercase;
      font-size: 1em;
  }
}

.timeline ul li:nth-child(odd) div {
  left:15em;
}
.timeline ul li:nth-child(even) div {
  left: -35em;
  bottom: 35%;
}

}
  }








  &__projects {
    @extend %padding-home;

    &__container {
      @include media(">tablet") {
        display: flex;
        width: 90%;
        margin: 6% 5% 1% 5%;
      }
    }

    .project__div {
      @include media("<=phone") {
        display: none;
      }

      @include media(">tablet") {
        display: auto;
        height: 65vh;
      }
    }

    &__img {
      @include media("<=phone") {
        display: none;
      }

      @include media(">tablet") {
        height: 50vh;
        margin: 15% 0;
        display: flex;
        width: 90%;
        border-radius: 1em;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
    }

    &__stack {
      position: relative;
      transform: rotate(270deg);
      right: -50.5%;
      bottom: 60%;
      margin: 5% 0;
    }

    &__line {
      position: relative;
      display: inline-block;
      width: 100%;
      visibility: hidden;

      span {
        height: 2px;
        background: $col-boulder;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: inline-block;
        transform-origin: left top;
      }

      &.right {
        span {
          transform-origin: right top;
        }
      }
    }
  }

  &__content {
    padding-top: 24rem;
    padding-bottom: 24rem;
    @extend %padding-home;

    @include media("<=phone") {
      padding-top: 16rem;
      padding-bottom: 16rem;
    }

    @include media(">tablet") {
      text-align: center;
    }

    &__title {
      @extend %description-12;
      text-transform: uppercase;
      color: $col-boulder;
      margin-bottom: 2.4rem;
    }

    &__desc {
      @extend %description-32;
      max-width: 95rem;
      width: 100%;
      @extend %links;

      @include media(">tablet") {
        margin: 0 auto;
      }

    }
  }

  &__stack {
    max-width: 104.4rem;
    margin-left: auto;
    padding-top: 16rem;
    padding-bottom: 24rem;
    @extend %description-16;

    @include media("<=phone") {
      padding-top: 9.6rem;
      padding-bottom: 16rem;
    }

    &__paragraph {
      color: $col-gray;
      max-width: 32.5rem;

      @include media("<=tablet") {
        max-width: 55rem;
      }

      @include media("<=phone") {
        max-width: 35rem;
        margin-left: auto;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }

      span,
      a {
        color: $col-boulder;
        text-transform: uppercase;
      }

      @extend %links;

      .first-word {
        @extend %description-12;
      }
    }
  }



  &__contact {

    @extend %padding-home;
    @extend %links;

    justify-content: space-between;
    max-width: 125rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;

    @include media(">tablet") {
      display: flex;
      padding-top: 24rem;
      padding-bottom: 24rem;
    }

    &__text__div {
      margin: 6% 2.5%;

      @include media(">tablet") {
        margin: 15% 0%;
      }
    }

    .home-social {
      @include media("<=desktop") {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: -2.5%;
        position: relative;
        right: 0;
        top: 0;

        @include media("<=phone") {
          margin-top: -2.5%;

        }

        .home-social-left {
          display: none;
        }

        .home-social-right {
          width: 100%;
          display: flex;
          justify-content: space-around;
          position: relative;

          @include media("<=phone") {
            width: 100%;
          }

        }
      }

    }

    &__top,
    &__bottom {
      justify-content: space-between;

      @include media(">phone") {
        display: flex;
      }
    }



    &__heading {
      margin-bottom: 9.6rem;
    }

    &__left {
      margin-bottom: 9.6rem;

      @include media(">tablet") {
        max-width: 72.5rem;
        width: 100%;
        margin-bottom: 0;
      }

      .contact_left_p {
        display: none;

        @include media(">tablet") {
          font-size: 1.2em;
          display: block;
          width: 80%;
        }
      }

      .contact_left_p_title {
        display: none;

        @include media(">tablet") {
          font-size: 1.1em;
          display: block;
          text-transform: uppercase;

        }
      }

      .contact_left_title {
        font-size: 4em;
        font-weight: 900;
        font-family: $secondary-font;
        margin: 0 2.5%;

        @include media("<=smallXsPhone") {
          font-size: 3.2em !important;

        }

        @include media("<=smallPhone") {
          font-size: 3.2em !important;
        }

        @include media("<=phone") {
          font-size: 4.2em;


        }

        @include media(">tablet") {
          font-size: 7.5em;
          margin: 0;

        }
      }
    }

    &__right {
      @include media(">tablet") {
        max-width: 32.5rem;
        width: 100%;
      }
    }

    .home__content {
      &__title {
        @extend %description-12;
        text-transform: uppercase;
        color: $col-boulder;
      }

      &__desc {
        @extend %description-16;
        max-width: 95rem;
        width: 100%;
        @extend %links;

        a {
          text-transform: uppercase;
        }


      }
    }


  }


  &__footer {
    justify-content: center;
    position: relative;
    padding-bottom: 4rem;
    font-weight: 400;
    font-size: 16px;

    @include media(">tablet") {
      display: flex;
    }

    @include media("<=tablet") {
      margin-left: auto;
      max-width: 40rem;
      width: 100%;
    }

    @include media("<=phone") {
      max-width: 100%;
      width: 100%;
      padding: 5%;
      display: flex;
      justify-content: space-between;
    }

    &__left {
      display: flex;
      font-family: $font-sauce;

      @include media(">tablet") {
        left: 2.4rem;
        position: absolute;
        right: 0;
        top: 1rem;
      }

      .place {
        color: $col-boulder;
        margin-right: 1.4rem;
      }

      .time {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          background: $col-black;
          height: 100%;
          left: 0;
          width: 6px;
        }

        @include media("<=tablet") {
          margin-bottom: 2.4rem;
        }
      }
    }

    &__right {
      @extend %links;

      @include media(">tablet") {
        right: 2.4rem;
        position: absolute;
        top: 1rem;
      }
    }

    &__center {
      .footer__links {
        @include media(">tablet") {
          display: flex;
        }

        align-items: center;

        @include media("<=tablet") {
          margin-bottom: 4.8rem;
        }

        .link__flex {
          display: flex;
          margin-left: auto;

          @include media("<=tablet") {
            max-width: 40rem;
            width: 100%;
          }

          @include media("<=phone") {
            max-width: 255px;
            width: 100%;
          }

          &__inner {
            display: flex;

            .c-button {
              @include media("<=tablet") {
                &:first-of-type {
                  margin-right: 0.8rem;
                }
              }
            }

            &.second {
              .c-button {
                @include media("<=tablet") {
                  &:first-of-type {
                    margin-right: 0;
                  }

                  &:last-of-type {
                    margin-right: 0.8rem;
                  }
                }
              }
            }

            @include media(">tablet") {
              &:last-of-type {
                margin-left: 0.8rem;
              }
            }
          }

          @include media("<=tablet") {
            &__inner {
              &.second {
                margin-top: 1.6rem;
                flex-direction: row-reverse;
              }
            }
          }
        }

        .c-button {
          @include media(">tablet") {
            &:not(:last-of-type) {
              margin-right: 0.8rem;
            }
          }
        }
      }
    }
  }
}