@import "base/reset";

@import "utils/breakpoints";
@import "utils/variables";

@import "base/fonts";
@import "base/globals";

@import "shared/title";
@import "shared/description";
@import "shared/links";

@import "components/texthover";
@import "components/link";
@import "components/loader";

@import "pages/home";



.mobile-hide{
  
  @include media("<=phone") {
display: none;
  }
}


.mobile-show{
  display: none;
  @include media("<=phone"){
display: block;
  }
}